.bar {
    background-color:transparent;
    padding: 25px;
    height: 35px;
  }

  .bar p {
    float: right;
  }
  
  .top-right-button {
    float: right;
    border: none;  
    background-color: blueviolet; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 10px 15px; /* Set padding to your liking */
    border-radius: 5px; /* Set border-radius for rounded corners */
    cursor: pointer;
    font-size: 20px; /* Set font size to your liking */
    margin-right: 15px;
  }

  .top-right-button:hover{
    border: 1px solid white;  
    background-color:transparent; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
   
  }